*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.box{
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

.img-border{
    border: 10px solid transparent;
    transition: all 0.3s ease;
    border-image: url(./src/border.png) 30 round;
}