.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-disc{
    position: absolute;
    z-index: 1;
    top: 140%;
    left: 75%;
    margin-left: -60px;
    visibility: hidden;
    max-width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
}

.tooltip-disc:after{
    content: "";
    position: absolute;
    top: -15%;
    rotate: 180deg;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-disc{
    visibility: visible;
    opacity: 1;
}