.box{
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.flex{
    display: flex;
}

.gap{
    gap: 10px;
}

.wrap{
    flex-wrap: wrap;
}

.round{
    border-radius: 10px;
}

.round-top-left{
    border-top-left-radius: 10px;
}

.round-top-right{
    border-top-right-radius: 10px;
}

.round-bottom-left{
    border-bottom-left-radius: 10px;
}

.round-bottom-right{
    border-bottom-right-radius: 10px;
}